/*
    File: index.CSS
    Zunbo Yang
    Zunbo Yang's personal website. This site has information about him

    This file contains CSS classes / IDs used to override the Creative Bootstrap Theme
*/

.text-small {
  font-size: 100%;
}

.text-blue {
  color: blue;
}

/*  For the GitHub Section link
    These styles make the GitHub Section header appear white all the time,
    unless hovered on. Makes for a better style, and clearer that it is a link.
    From: https://www.w3schools.com/css/css_link.asp
    and: https://www.w3schools.com/css/tryit.asp?filename=trycss_link2;
*/
.text-white {
  color: black;
}

/* Link color when it is unvisited */
a.text-white:link  {
  color: black;
}

/* Link color after being clicked on and visited */
a.text-white:visited {
  color: white;
}

/* Link color while being hovered on */
a.text-white:hover {
  color: blue;
}

/* Link color the moment it is clicked */
a.text-white:active {
  color: white;
}

.min-padding {
  padding-top: 2em;
  padding-bottom: 2em;
}

.min-padding-top {
  padding-top: 2em;
  padding-bottom: 0em;
}


.div-padding-fix {
  padding-bottom: 2em;
}